/* About Css Start Here */

.about_banner .img_box {
  background-color: #EDF2FA;
  background-image: radial-gradient(at bottom left, #FEC85440 11%, #FFFFFF00 27%), url(../img/hero-about.jpg);
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  padding: 235px 0px 137px 0px;
}
.background_overlay {
  background-color: transparent;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 81%;
  width: 100%;
  background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
  top: 89px;
  position: absolute;
  left: 0;
}

.banner_breadcrumps span {
  color: #000;
  font-family: "inter";
}

.banner_breadcrumps a:hover {
  color: #000;
  text-decoration: none;
}

.banner_breadcrumps a {
  font-family: "inter_m";
  z-index: 1;
  color: #0B1A3080;
}

.banner_breadcrumps {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.banner_breadcrumps i {
  font-size: 17px;
  font-weight: 800;
  z-index: 1;
  color: #0B1A3080;
}

.threebtn i {
  font-size: 24px;
  color: #DDC233;
  margin-right: 20px;
}

.threebtn:hover i {
  z-index: 1;
  color: #0B1A3080;
}

.meet_team p {
  font-size: 16px;
  font-weight: 500;
  font-family: "inter";
}

.threebtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: #EDF2FA;
  border-radius: 8px;
  padding: 2rem;

}

.threebtn p {
  margin-bottom: 0;
  color: #0B1A3080;
  font-family: "inter";
  font-size: 18px;
  font-weight: 500;
}

.banner_breadcrumps a:hover {
  color: #000;
}

.banner_breadcrumps span {
  color: #0b1a3080;
    font-size: 20px;
  font-family: "inter_m";
}

.banner_breadcrumps span:hover {
  color: #000;
}

.banner_breadcrumps i.fa.fa-home:hover {
  color: #000;
  z-index: 1;
}

.banner_breadcrumps i.fa.fa-angle-right:hover {
  color: #000;
  z-index: 1;
}

.banner_heading h1 {
  display: flex;
  justify-content: center;
  position: relative;
  color: #000;
  font-size: 60px;
  font-family: "lora";
  font-weight: 400;
}

p.grey_para {
  color: #C6D2E6;
}

.about_sec {
  padding: 60px 0px;
  background: #f9fafd;
}

.about_sec .heading_wrapper {
  padding-bottom: 20px;
}
section.threebtn_sec {
  background: #f9fafd;
}
.about_sec .content_wrapper button.btn {
  background: #DDC233;
  font-size: 14px;
  padding: 16px 32px 16px 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.about_sec .content_wrapper button.btn:hover {
  transform: translateY(-8px);
}

.about_sec .heading_wrapper h2.title {
  color: #222a41;
  font-weight: 700;
  font-family: "lora_r";
  font-size: 48px;
}

.about_sec h5 {
  color: #c6d2e6;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "inter";
}

.about_sec p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "inter";
}

.about_sec .heading_wrapper h3 {
  font-size: 35px;
  font-weight: 500;
  font-family: "Lora";
}

.meet_team {
  text-align: center;
}

.meet_team h1 {
  font-family: "lora";
  margin-bottom: 2rem;
  font-size: 48px;
}

.team_member p {
  font-family: "inter";
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
  color: #0b1a3080;
}

p.meet_team_paras {
  width: 620px;
  margin: auto;
}

.meet_team {
  text-align: center;
  background: #d4ce94;
  padding: 4rem;
  border-radius: 12px;
  height: 900px;
  margin: 0 4rem;
}

section.meet_team_sec {
  padding-top: 6rem;
  background: #f9fafd;

}

.team_member {
  text-align: center;
  background: #ffffff;
  box-shadow: 10px 10px 50px 0px rgb(11 26 48 / 10%);
  border-radius: 12px;
  padding: 1rem;
}

.team_member img {
  border-radius: 6px;
}

.team_member h3 {
  font-family: "lora_b";
  font-size: 24px;
  margin-top: 1rem;
}

.social_logo {
  background: #DDC233;
  WIDTH: 25px;
  border-radius: 50%;
  height: 25px;
  padding-top: 2px;
  /* padding-left: 4px; */
}

.social_icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

section.team_member_sec {
  position: absolute;
  right: 0;
  left: 0;
  top: 18rem;
}



section.whatpeosay_sec h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: "lora";
  color: #0b1a30;
  margin-bottom: 80px;
}

section.whatpeosay_sec {
  margin-top: 4rem;
  margin-bottom: 110px;
}

.wsay {
  background: #f9fafd;
  margin: 0 66px;
  padding: 2rem;
  border-radius: 10px;
  padding-bottom: 4rem;
}

.whatsaycarousel .slick-dots {
  bottom: 20px
}

.slickslider1 {
  border: 1px solid #C6D2E6;
  border-style: dashed;
  border-radius: 10px;
}

.whatsaycarousel .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #DDC233;
}

.whatsaycarousel .slick-dots li button:before {
  font-size: 12px;
}

.meet_our_team {
  position: relative;
}

.greybg {
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}

.greybg p {
  font-size: 18px;
  font-weight: 400;
  font-family: "lora";
}

/* .about_sec .img_box {
  margin-left: -80px;
  z-index: -1;
} */
@media (max-width: 575px) {
  .about_sec .img_box {
    display: none;
  }

  .about_banner .img_box img {
    height: 180px;
  }
}

/* About Css End Here */