/* .for-the-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    text-align: center;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    background-color: transparent;
    opacity: 0.5;
} */
.about_banner .img_box {
    background-color: #EDF2FA;
    background-image: radial-gradient(at bottom left, #FEC85440 11%, #FFFFFF00 27%), url(../img/hero-about.jpg);
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding: 235px 0px 137px 0px;
  }
  .background_overlay {
    background-color: transparent;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 81%;
    width: 100%;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    top: 89px;
    position: absolute;
    left: 0;
  }
  
  .background_overlay2 {
    background-color: transparent;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(at top right, #1F5ED8 10%, #EDF2FA 100%);
    top: 0;
    left: 0;
    position: absolute;
  }

  

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 42%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption.d-none.d-md-block span {
    padding-left: 12px;
}

.carousel-caption.d-none.d-md-block a {
    color: #0b1a3080;
    font-size: 20px;

}

.carousel-caption.d-none.d-md-block i {
    color: #0B1A3080;
    font-size: 18px;
    padding-left: 12px;
}

section.about-book .text-on-right {
    height: 100%;
    padding-bottom: 30px;
}

section.about-book {
    padding-top: 115px;
    background: #f9fafd;
}

section.about-book .for-text h5 {
    color: #c6d2e6;
    font-size: 16px;
}

section.about-book .for-text h2 {
    color: #0b1a30;
    font-size: 48px;
    font-family: "lora-normal";
    margin-bottom: 29px;
    margin-top: 18px;
}

section.about-book .for-text h3 {
    color: #0b1a30;
    font-size: 35px;
    font-family: "lora-normal";
    margin-bottom: 29px;
    margin-top: 18px;
}

section.about-book .for-text p {

    font-size: 16px;
}

section.about-book .for-text .mb-6 {
    margin-bottom: 62px;
}

section.about-book .for-text a {
    font-size: 17px;
    background-color: #ddc233;
    padding: 16px 32px 16px 32px;
    text-transform: capitalize;
    color: #0b1a30;
    border-radius: 6px;
    font-weight: 700;
    border: 0px;
}

section.blog-detail {
    margin-top: 70px;
}

.blog-detail-text h2 {
    font-family: "lora";
    font-weight: 500;
    font-size: 61px;
    margin-bottom: 40px;
}

.blog-detail-text p {
    font-family: "inter";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.parablogs {
    margin-top: 100px;
}

.form-group textarea#exampleFormControlTextarea1 {
    height: 40vh;
}

.form-group input#exampleFormControlInput1 {
    padding: 20px 0px;
}

.form-group label {
    font-size: 24px;
    color: #0b1a30;
    font-weight: 500;
    font-family: "lora";
}

.form-check input#gridCheck {
    margin: 10px 0px;
}

section.blog-detail {
    margin-bottom: 180px;
}

button.btn1 {
        padding: 13px 20px;
        background-color: #ddc233;
        color: #0b1a30;
        border: transparent;
        text-transform: uppercase;
        font-family: "Inter";
        font-weight: 600;
        text-decoration: none;

}

button.btn1:hover {
    background-color: white;
    color: #ddc233;
    border: 1px solid #ddc233;
    transition: 0.5s;
    cursor: pointer;
}
    @media (max-width: 580px) {
        .blog-detail-text h2 {
            font-size: 32px;
        }
        .blog-detail-text p {
            font-size: 11px;
        }
        .form-group label {
            font-size: 16px;
        }
    }