/* buysec start here */
section.buy-sec {
    padding: 100px 0;
}
.trade-box {
    background: #FEFBFB;
    text-align: center;
    border: 1px solid #DDC233;
    padding: 49px 38px;
    margin: 16px 0;
}
.postage-info {
    text-align: center;
    padding: 31px 0;
}
.form-group {
    text-align: left;
}
label {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
input.form-control {
    background: #E9E9E9;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    border-radius: 0;
    height: 40px;
    border: 0;
}
.form-control:focus {
    color: #707070;
    background-color:#E9E9E9 !important;
    border-color: transparent !important;
    outline: 0;
}
select#exampleFormControlSelect1 {
    background: #E9E9E9;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    border-radius: 0;
    border: 0;
    height: 40px;
}
.volume-box {
    background: #E9E9E9;
    color: #141414;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    padding: 7px 14px;
    text-align: left;
    font-weight: 400;
}
.volume {
    text-align: left;
}
.form-row {
    display: flex;
    gap: 10px;
}
.billing-address .form-row  .form-control {
    width: 90%;
}
/* check-box css */
.check-btnn1 {
    display: flex;
    justify-content: center;
    /* position: relative; */
    align-items: center;
    height: 100%;
}
.check-btnn {
    display: flex;
    justify-content: center;
    /* position: relative; */
    align-items: center;
    height: 65%;
}
/* The containerz */
.containerz {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerz input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerz:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerz input:checked ~ .checkmark {
    background-color: #DDC233;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerz input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerz .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(8, 8, 8);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* qtybox */
.minus-box {
	height: 50%;
	background-color: white;
	width: 31px;
	text-align: center;
  }
  
  .plus-box {
	height: 50%;
	background-color: white;
	width: 31px;
	text-align: center;
  }
  
  .numbers {
	height: 25px;
  }
  span.num {
    font-size: 14px;
}
  .addition {
	height: 100%;
	/* background: #68482a; */
  }
  .qty-box span.plus {
	font-size: 15px;
  }
  .minus, .plus {
	display: inline-block;
	/* width: 14px; */
	/* height: 15px; */
	/* background-color: #10101000; */
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .qty-box  span.minus {
	font-size: 19px;
  }
  
  .num-add {
    width: 34px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.pricerates h5 {
	color: #1f162c;
	font-size: 18px;
	font-family: "poppins";
	font-weight: 600;
	/* margin: 19px 0 0 0; */
	text-align: center;
}
  .qty-box {
	/* zoom: 2; */
	display: flex;
	align-items: center;
	height: 100%;
	gap: 2px;
  }
.qty-box .fa {
    color: black;
    font-size: 12px;
}
  /* qty2 */
  .qty-box span.pluss {
	font-size: 15px;
  }
  .minuss, .pluss {
	display: inline-block;
	/* width: 14px; */
	/* height: 15px; */
	/* background-color: #10101000; */
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .qty-box  span.minuss {
	font-size: 19px;
  }
  /* order-summary */
  .product-name h3 {
    font-size: 20px;
}
.summary-heading h2 {
    font-size: 18px;
}

.summary-heading {
    border: 1px solid #DDC233;
    padding: 12px 0;
}

.summary-heading h3 {
    font-size: 18px;
    margin: 0;
}
.order-img img {
    width: 44px;
}

.product-heading {
    border-bottom: 1px solid #DDC233;
}

.order-detail {
    height: 56px;
}

.product-box p {
    margin: 0;
}
.submit-btnn {
    text-align: right;
}

.submit-btnn .btn {
    background: #DDC233;
    border: 0;
    color: black;
    font-size: 12px;
    width: 120px;
    padding: 10px 0;
}
@media (max-width: 768px) {
    p {
        font-family: "inter";
        font-size: 11px;
    }
    input.form-control {
        font-size: 10px;
    }
    select#exampleFormControlSelect1 {
        font-size: 10px;
    }
    .volume-box {
        padding: 10px 8px;
    }
    label {
        font-size: 9px;
    }
}
@media (max-width: 580px) {
    .product-box.product-name-box {
        border: 0;
    }
    .summary-heading {
        flex-wrap: wrap;
    }
    
    .product-heading {
        border: 0;
    }
    
    .product-box {
        border-top: 1px solid #DDC233;
        padding: 10px 0;
    }
    .check-btnn {
        justify-content: left;
        margin: 10px 0;
    }
    p {
        font-size: 9px;
        margin: 0;
    }
    .volume {
        margin: 10px 0;
        text-align: left;
    }
}
/* buysec end here */