section.cart_products {
    padding: 79px 0;
}
.main_heading h1 {
    font-family: "lora";
    font-size: 64px;
}
td.heavy_font, .dark_text {
    font-size: 16px;
    color: #0b1a30;
    font-family: "Inter-Regular";
    font-weight: 600;
}
a.checkout_btn{
    font-size: 14px;
    font-family: "Inter-Regular";
}
.for_heading h1 {
    color: #0b1a30;
    font-size: 48px;
    font-family: "lora";
}
a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}
table{
    border:  1px solid #ccc;
    margin-bottom: 0px !important;
}
td img {
    width: 26px;
    box-shadow: none;
}
td, th {
    border-right: 2px solid #ccc !important;
    border-top: 2px solid #ccc !important;
    border-top:  2px solid #ccc !important;
}
tr td{
    vertical-align: middle !important;
}
td input.quantity {
    height: 53px;
    width: 49px;
    text-align: center;
    border: 1px solid #c6d2e6;
    border-radius: 4px;
}
.quantity {
    height: 100%;
    width: 100%;
    text-align: center;
}
button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.table_footer{
    display: flex;
    justify-content: space-between;
    border-top: unset !important;
    border: 1px solid #ccc;
    padding: 12px 12px;
}
.table_footer .for_form input {
    width: 80px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    border-radius: 4px;
    padding: 10px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
}
.for_totals{
    display: flex;
    border: 1px solid #d3ced2;
    border-radius: 4px;
    padding: 8px;
}
a.checkout_btn{
    display: block !important;
    text-align: center !important;
    margin-bottom: 1em !important;
    font-size: 1.25em !important;
    padding: 1em !important;
    background-color: #a46497 !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}