@font-face {
    font-family: "lora_r";
    src: url(../fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: "lora_b";
    src: url(../fonts/Lora-Bold.ttf);
}

@font-face {
    font-family: "inter_m";
    src: url(../fonts/Inter-Medium.ttf);
}

/* About Css Start Here */
/* .about_banner .img_box img {
    height: 360px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
  } */
.about_banner .img_box {
    background-color: #EDF2FA;
    background-image: radial-gradient(at bottom left, #FEC85440 11%, #FFFFFF00 27%), url(../img/hero-about.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    /* opacity: 0.5; */
    padding: 235px 0px 137px 0px;
}

.background_overlay {
    background-color: transparent;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 512px;
    width: 100%;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    top: 89px;
    left: 0;
    position: absolute;
}

.banner_breadcrumps span {
    color: #0b1a3080;
      font-size: 20px;
    font-family: "inter_m";
  }

.banner_breadcrumps a:hover {
    color: #000;
    text-decoration: none;
}

.banner_breadcrumps a {
    font-family: "inter_m";
    z-index: 1;
    color: #0B1A3080;
}

.banner_breadcrumps {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.banner_breadcrumps i {
    font-size: 17px;
    font-weight: 800;
    z-index: 1;
    color: #0B1A3080;
}

figure {
    margin-bottom: 0px;
}

/* tHREE iMAGES Css */
section.for-images {
    padding-top: 126px;
}

section.database-text {
    padding-top: 51px;
    padding-bottom: 70px;
}

.database-text h1,
.database-text h2,
.database-text h3,
.database-text h4,
.database-text h5 {
    margin-top: 32px;
    margin-bottom: 13px;
        font-size: 21px;
        font-family: "lora";
        font-weight: 700;

}

/* .database-text p{
    margin-bottom: 22px;
} */
.database-text p {
    font-family: "inter_m";
    font-size: 17px;
}

.database-text .text p {
    margin-bottom: 32px !important;
}

@media (max-width: 768px) {

    .text,
    .last-text {
        padding-left: 30px;
        padding-right: 30px;
    }
}