.for-the-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    text-align: center;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    background-color: transparent;
    opacity: 0.5;
}

h1 {
    font-size: 64px;
    color: #0b1a30;
    font-family: "lora-normal";
}

.about_banner .img_box {
    background-color: #EDF2FA;
    background-image: radial-gradient(at bottom left, #FEC85440 11%, #FFFFFF00 27%), url(../img/hero-blog.jpg);
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding: 235px 0px 137px 0px;
  }
  .background_overlay {
    background-color: transparent;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 81%;
    width: 100%;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    top: 89px;
    position: absolute;
    left: 0;
  }
  .background_overlay2 {
    background-color: transparent;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(at top right, #1F5ED8 10%, #EDF2FA 100%);
    top: 0;
    left: 0;
    position: absolute;
  }
  
section.about-book .text-on-right {
    height: 100%;
    padding-bottom: 30px;
}

section.about-book {
    padding-top: 115px;
    background: #f9fafd;
}

section.about-book .for-text h5 {
    color: #c6d2e6;
    font-size: 16px;
}

section.about-book .for-text h2 {
    color: #0b1a30;
    font-size: 48px;
    font-family: "lora-normal";
    margin-bottom: 29px;
    margin-top: 18px;
}

section.about-book .for-text h3 {
    color: #0b1a30;
    font-size: 35px;
    font-family: "lora-normal";
    margin-bottom: 29px;
    margin-top: 18px;
}

section.about-book .for-text p {
    font-family: "inter";
    font-size: 16px;
}

section.about-book .for-text .mb-6 {
    margin-bottom: 62px;
}

section.about-book .for-text a {
    font-size: 17px;
    background-color: #ddc233;
    padding: 16px 32px 16px 32px;
    text-transform: capitalize;
    color: #0b1a30;
    border-radius: 6px;
    font-weight: 700;
    border: 0px;
}
.page-all{
    width: 100%;
    height: 100%;
    background-color: #f9fafd;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 24%);
}
section.Prosopographica-et-Genealogica {
    margin: 40px 0px;
}
.text-btn    button {
    width: 100%;
}
.pros-heading{
    text-align: center;
}
.Genealogica-text-wrapper {
    margin-top: 30px;
}
.cardpros {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 24%);
    background-color: #CCC;
    padding: 30px 0;
    margin-top: 32px;
}
.heading-prossopro {
    text-align: center;
}
ul li{
    list-style-type: none;
}
.visa-wrapper button.btn {
    display: none;
}
a.accordian_btn {
    display: block;
    width: 95%;
    /* height: 45px; */
    background-color: #ffc;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
a.accordian_btn {
    display: block;
    width: 95%;
    /* height: 45px; */
    background-color: #ffc;
    text-align: center;
    padding: 8px 0px;
}

.collapse.show .card.card-body {
    padding: 12px;
}
.collapse{
    width: 95%;
}
p{
    font-family: "inter";
}
/* new css */
.text ol {
    list-style: upper-roman;
}
.text strong {
    text-transform: capitalize;
}
/* new css end */
@media (max-width: 580px) {
    .banner_breadcrumps span {
        color: #0b1a3080;
        font-size: 15px !important;
    }
    .banner_heading h1 {
        display: flex;
        justify-content: center;
        position: relative;
        color: #000;
        font-size: 31px;
        font-family: "lora_r";
    }
}