@font-face {
    font-family: "lora-normal";
    src: url(../fonts/static/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lora";
    src: url(../fonts/static/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/static/Inter-Regular.ttf);
}

/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #DDC233;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #0068B4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(../fonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Lora-Italic";
    src: url(../fonts/static/Lora-Italic-VariableFont_wght.ttf);
}

body {
    font-family: "lora";
    background-color: #edf2fa4f;
}

.active {
    color: #DDC233 !important;
}

.banner_heading h1 {
    display: flex;
    justify-content: center;
    position: relative;
    color: #000;
    font-size: 60px;
    font-family: "lora";
    font-weight: 500;
}

/* header start here  */
.upper-banner {
    background-color: #DDC233;
    padding: 7px 0;
}

.upper-banner svg {
    width: 20px;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-btn {
    margin-left: 20px;
    padding: 3px 10px;
    border: 1px;
    background-color: white;
    border-radius: 4px;
}

.offer-btn:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: 0.5s;
}

.offers span {
    color: #ffffff;
    margin-left: 10px;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
}

.offer-btn a {
    color: black;
    font-family: "Inter-SemiBold";
    text-transform: uppercase;
    font-size: 12px;
}

.about-thisweb p {
    font-weight: 500;
    font-family: "inter";
    font-size: 17px;
    color: #000000;
}

.web-nav {

    background: rgb(255, 255, 255);
}

.web-nav li a {
    color: #0b1a30;
    font-size: 16px;
    font-family: "Inter";
    text-decoration: none;
    font-weight: 800;
    text-transform: capitalize;
}

.web-nav li a:hover {
    color: #ddc233;
    text-decoration: none;
    transition: 0.3s;
}

.nav-web ul {
    margin-top: 20px;
}

.web-nav li {
    display: inline;
    padding: 11px 7px;
}

.nav-web {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    /* background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 47%, #dbc23b9e 100%); */

}

.nav-icons {
    display: flex;
    align-items: center;
    height: 100%;
    /* max-width: 9%; */
    /* background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 47%, #dbc23b9e 100%); */
}

.search-icon {
    margin-right: 30px;
}

.cart-icon i.fa.fa-shopping-cart {
    font-size: 19px;
}

.cart-icon i.fa.fa-shopping-cart:hover {
    color: #818a91;

}

.nav-imgbox img {
    max-width: 240px;
}

.cart-icon {
    padding: 10px 15px;
    border: 1px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.cart-icon span {
    display: block;
    position: absolute;
    top: 3px;
    font-size: 11px;
    right: 6px;
    font-family: 'Lora-Italic';
    background: #d9534f;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    padding: 0px 6px;
}

.cart-icon:hover {
    background-color: transparent;
    transition: 0.3s;

}

@media (max-width:1024px) {
    .web-nav li {
        display: inline;
        padding: 12px 12px;
    }
}

@media (max-width:1024px) {
    .detail-heading {
        padding: 69px 30px;
    }
}

/* Mobile Header  */
.canvas-icon {
    display: none;
}

#header .mobile-header {
    width: 25%;
    height: 100%;
    position: fixed;
    background: #ffffffc2;
    top: 0;
    z-index: 9;
    right: 0;
    padding: 30px 10px 0px 10px;
    transition: 0.7s;
    transform: translateX(100%);
    box-shadow: 0px 0px 7px #ddd;
}

li.nav-link a {
    color: #000;
}

#header .mobile-header.show {
    transform: translateX(0%);
}

#header .mobile-header ul.mobile-nav {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#header .mobile-header .cancel {
    background: #000000;
    width: 35px;
    text-align: center;
    height: 34px;
    line-height: 35px;
    margin: 0px 20px 20px auto;
    color: #fff;
}

#header .mobile-header ul.mobile-nav li.nav-item {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
}

#header .canvas-icon i {
    font-size: 24px;
    background: #000000;
    padding: 5px 7px;
    color: #fff;
    display: none;
}

@media (max-width: 991px) {
    #header .nav {
        display: none;
    }

    #header .second-col-input {
        display: none;
    }

    #header button.navbar-toggler {
        display: none;
    }

    #header .canvas-icon i {
        display: block;
    }
}

@media (max-width: 575px) {
    #header .mobile-header {
        width: 35%;
    }
}

@media (max-width: 580px) {
    #header .mobile-header {
        width: 55%;
    }

    #header {
        display: block !important;
    }

    .cart-icon {
        margin-right: 20px;
    }

    .search-icon {
        margin-right: 22px !important;
    }
}

/* Mobile Header  */
/* header end here  */
/* map-section start here */
.web-header {
    position: relative;

}

section.map-section {
    background-image: url('../img/home-map.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 100px;
    overflow: hidden;

    background-image: radial-gradient(at top right, #DDC233 0%, #EDF2FA 41%);
    /* opacity: 0.5; */
    transition: all 0.3s ease-in-out;

}

.map-section .for-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #f9f9f98c;
    /* background: #f9f9f961; */
}

.img-cardbox1 {
    position: absolute;
}


.web-header-img img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

/* .header-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 143px;
} */

.web-header-img {
    position: relative;
    height: 750px;
}

.website-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.website-heading h1 {
    color: #000000;
    font-family: "Lora-Italic";
    font-size: 55px;
    font-weight: 700;
}

.about-thisweb a {
    padding: 13px 20px;
    background-color: #ddc233;
    color: #0b1a30;
    font-family: "Inter-SemiBold";
    text-transform: capitalize;
}

.carousel-caption.d-none.d-md-block a {
    color: #0b1a3080;
    font-size: 20px;
    font-family: "inter_m";
    text-transform: capitalize;
    z-index: 1;
}

.banner_breadcrumps span {
    color: #0b1a3080;
    font-size: 20px;
    z-index: 1;
    font-family: "inter_m";
    text-transform: capitalize;
}

.about-thisweb a:hover {
    transform: translate(-10px);
    transition: 0.3s;
}

.about-thisweb {
    text-align: center;
}

.content-web {
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-cardbox {
    margin-top: 40px;
    z-index: 333;
    margin-left: 29px;
    width: 100%;
    /* margin-top: 93px; */
    margin-top: 120px;
    z-index: 333;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    transition: all 0.5s;
}

.img-cardbox:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.img-cardbox1 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    transition: all 0.5s;
    margin-top: 150px;
    margin-left: 20px;
}

.img-cardbox1:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.for-the-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    text-align: center;
    background-image: radial-gradient(at bottom center, #FEC854 20%, #FFFFFF00 64%);
    background-color: transparent;
    opacity: 0.5;
}

/* map-section end here */

/* shipping-detail-secstart here */
.shipping-detail-sec {
    background-color: #ffffff;
}

.shipping {
    width: 100%;
    display: flex;
    background-color: #edf2fa;
    align-items: center;
    padding: 29px 20px;
    border: 1px;
    border-radius: 20px;
    justify-content: center;
}

.about-shipping {
    padding: 100px 0;
}

.shipping span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: "inter";
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 4px;
}

.shipping i.fas {
    font-size: 22px;
    color: #ddc233;

}

.shipping .fas:hover {
    color: #0b1a30;
    /* text-decoration: none; */
}

/* shipping-detail-sec end here */


/*detail-sec start here */
.detail-sec {
    background-color: #fbfbfb;
}

.detail-heading {
    padding: 65px 30px;
    width: 98%;
    background-color: transparent;
    background-image: radial-gradient(at bottom left, #ddc233ad 0%, #DFDCDE 43%);
    /* background-color: transparent;
    background-image: radial-gradient(at top right, #ddc233 12%, #DFDCDE 50%); */
}

.detail-heading h2 {
    font-family: "Lora";
    font-weight: 500;
    font-size: 36px;
}

.detail-sec p {
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
    font-family: "inter";
}

.detail-btn {
    margin-top: 30px;
}

.detail-btn a {
    padding: 13px 20px;
    background-color: #ddc233;
    color: #0b1a30;
    text-transform: uppercase;
    font-family: "Inter";
    font-weight: 600;
    text-decoration: none;
}

.detail-heading h5 {
    font-family: "Lora";
    font-weight: 700;
    font-size: 17px;
}


.detail-sec h4 {
    line-height: 2;
    color: #ddc233;
    font-size: 24px;
    font-weight: 500;
    font-family: "Lora";
}

.detail-content {
    background-color: #edf2fa !important;
    width: 100%;
}

@media (max-width:1024px) {
    .detail-heading {
        padding: 29px 30px;
        width: 98%;
        background-color: transparent;
        background-image: radial-gradient(at bottom left, #ddc233ad 0%, #DFDCDE 43%);
    }
}

/* detail-sec end here */


/* footer start here  */
.web-footer {
    background-color: #edf2fa;
    padding-top: 40px
}

.foter-img img {
    width: 215px;
}

.about-this-img p {
    color: #0b1a3080;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
}

.icons-heading h5 {
    font-family: "inter";
    font-size: 18px;
    font-weight: 400;
}

.its-menu-heading h5 {
    color: #0b1a30;
    color: #0b1a30;
    font-size: 18px;
    font-weight: 500;
    font-family: "inter";
}

.about-this-menu a {
    display: block;
    color: #0b1a3080;
    text-transform: capitalize;
    line-height: 2;
    font-size: 16px;
    font-family: "inter";
}

.about-this-menu a:hover {
    text-decoration: none;
    opacity: 1;
    color: #000000;
    transition: 0.6s all;
}

.home-heading {
    color: #0b1a30 !important;
    font-weight: 500;
}

.social-icon {
    display: flex;
    align-items: center;
    padding: 8px 9px;
    margin: 10px 7px;
    border: 2px;
    background-color: #ddc233;
    border-radius: 66px;
}

.social-icons {
    display: flex;
    margin-left: -10px;
}

.social-icon-facebook {
    display: flex;
    align-items: center;
    padding: 8px 11px;
    margin: 10px 7px;
    border: 2px;
    background-color: #ddc233;
    border-radius: 66px;

}

.about-this-img {
    margin: 23px 0;
}

.copy-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #0B1A308A;
    margin-top: 10px;
}

.copy-right {
    margin-top: 12px;
}

.copy-right span {
    font-size: 16px;
    font-weight: 400;
    font-family: "inter";
}

.footer-links {
    padding: 15px 0;
}

.footer-links a {
    font-size: 16px;
    font-family: "inter";
    font-weight: 400;
    color: #0b1a30;
    text-decoration: none;
}

.carousel-caption a:hover span {
    color: #000;
}

/* footer start here reponsive */
@media (max-width:567px) {
    .web-footer {
        background-color: #edf2fa;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        display: flex;
    }
}

/* footer end here reponsive */

@media (max-width: 991px) {
    .nav-web {
        display: none;
    }

    .canvas-icon {
        display: initial;
    }

    .canvas-icon i {
        font-size: 24px;
    }
}

@media (max-width:567px) {
    .detail-img img {
        text-align: center;
        width: 100%;
    }

    .web-nav {
        padding: 8px 0px;
    }

    .nav-imgbox img {
        width: 70px;
    }

    .nav-imgbox {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .img-cardbox {
        text-align: center;
    }



    .website-heading {
        display: flex;
        flex-direction: column;
    }

    .img-cardbox1 {
        width: 100%;
        text-align: center;
    }

    .about-shipping {
        padding: 18px 0;
    }

    .detail-heading {
        padding: 65px 30px;
        width: 100%;
        background-color: transparent;
        background-image: radial-gradient(at bottom left, #ddc233ad 0%, #DFDCDE 43%);
    }
}


.shade {
    background-color: transparent;
    background-image: radial-gradient(at top right, #ddc233 0%, #edf2fa 35%);
    opacity: 0.5;
    height: 80px;
    width: 100%;
    top: 44px;
    left: 0;
    position: absolute;
    z-index: 99;
}

.web-nav .nav-web.pr-2 {
    z-index: 999;
}

.web-nav .nav-imgbox {
    z-index: 99;
    position: relative;
}

.web-nav .nav-icons {
    position: relative;
    z-index: 99;
}




.cart_box {
    display: block;
    position: fixed;
    width: 24%;
    height: 100%;
    right: 0px;
    background: #FFF;
    top: 0px;
    z-index: 999;
    padding: 0px 37px;
}